<h1>Articles Index</h1>
<div class="row">
  <% @articles.each do |article| %>
    <div class="col-6">
      <div class="card my-3 p-2">
        <h4><%= link_to article.title, article %></h4>
        <small>Written by <%= article.user.email %></small>
        <div class="mt-2">
          <p><%= article.content %></p>
        </div>
        <h6>#<%= article.category %></h6>
      </div>
    </div>
  <% end %>
</div>